@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@rendermode InteractiveWebAssembly

<h3>Chat</h3>

@if (IsConnected)
{
    <input type="text" @bind="UserInput"/>
    <input type="text" @bind="MessageInput"/>
    <button @onclick="Send">Send</button>
    
    <ul id="messagesList">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
}
else
{
    <span>Connecting...</span>
}


@code {
    private HubConnection _hubConnection;
    private List<string> messages = new List<string>();
    private string UserInput;
    private string MessageInput;

    protected override async Task OnInitializedAsync()
    {
        
        _hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatHub")).Build();

        _hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    Task Send() => _hubConnection.SendAsync("SendMessage", UserInput, MessageInput);

    public bool IsConnected => _hubConnection.State == HubConnectionState.Connected;
}